In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AdultIncome.csv')
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19787 entries, 0 to 19786
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19787 non-null  int64
 1   wc              19787 non-null  object
 2   education       19787 non-null  object
 3   marital status  19787 non-null  object
 4   race            19787 non-null  object
 5   gender          19787 non-null  object
 6   hours per week  19787 non-null  int64
 7   IncomeClass     19787 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.2+ MB

In [4]:
df['marital status'].value_counts()

Married           9285
 Never-married    7056
 Divorced         2917
 Widowed           529
Name: marital status, dtype: int64

In [5]:
df = pd.get_dummies(df, drop_first=True)
df

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [6]:
X = df.drop('IncomeClass_ >50K', axis=1)
Y = df['IncomeClass_ >50K']

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [8]:
dtc = DecisionTreeClassifier(random_state=42)
rfc = RandomForestClassifier(random_state=42)
svc = SVC(kernel='rbf', gamma=0.5, random_state=42)

**DecisionTreeClassifier**

In [9]:
from sklearn.model_selection import cross_validate, cross_val_predict, cross_val_score
from sklearn.metrics import accuracy_score

In [10]:
cv_results_dtc = cross_validate(dtc, X, Y, cv=10, return_train_score=True, n_jobs=-1)
cv_results_dtc

{'fit_time': array([0.10870981, 0.09973359, 0.09175658, 0.08976054, 0.09574342,
        0.09374905, 0.09275031, 0.08975959, 0.08178902, 0.07878947]),
 'score_time': array([0.00598454, 0.00598383, 0.0039885 , 0.00598407, 0.00498629,
        0.00598454, 0.00498796, 0.00399017, 0.00400949, 0.00299072]),
 'test_score': array([0.77362304, 0.77059121, 0.78120263, 0.75644265, 0.7872663 ,
        0.79332996, 0.78625568, 0.78816987, 0.77502528, 0.79069767]),
 'train_score': array([0.90408805, 0.90571653, 0.90380728, 0.90571653, 0.90358266,
        0.90380728, 0.90380728, 0.90414959, 0.90532877, 0.90353192])}

In [11]:
cv_results_dtc['train_score'].mean()

0.9043535882172298

In [12]:
cv_results_dtc['test_score'].mean()

0.780260429147096

In [13]:
cross_val_score(dtc, X, Y, cv=10, n_jobs=-1)

array([0.77362304, 0.77059121, 0.78120263, 0.75644265, 0.7872663 ,
       0.79332996, 0.78625568, 0.78816987, 0.77502528, 0.79069767])

In [14]:
cross_val_score(dtc, X, Y, cv=10, n_jobs=-1).mean()

0.780260429147096

In [15]:
y_pred = cross_val_predict(dtc, X, Y, cv=10, n_jobs=-1)
y_pred

array([0, 0, 1, ..., 0, 0, 0], dtype=uint8)

In [16]:
accuracy_score(Y, y_pred)

0.7802597665133674

**RandomForestClassifier**

In [17]:
cv_results_rfc = cross_validate(rfc, X, Y, cv=10, return_train_score=True, n_jobs=-1)
cv_results_rfc

{'fit_time': array([2.737221  , 2.71029234, 2.72026587, 2.71926761, 2.71826911,
        2.76913548, 2.7162776 , 2.69932127, 2.71627665, 2.70131683]),
 'score_time': array([0.11967945, 0.11469436, 0.11369658, 0.10671496, 0.12067747,
        0.10372138, 0.11568856, 0.11668944, 0.11169934, 0.11868191]),
 'test_score': array([0.7872663 , 0.78120263, 0.79989894, 0.77513896, 0.80293077,
        0.80141486, 0.804952  , 0.80940344, 0.7917088 , 0.79777553]),
 'train_score': array([0.90408805, 0.90571653, 0.90375112, 0.90571653, 0.90358266,
        0.90375112, 0.90375112, 0.90398113, 0.90516031, 0.90336347])}

In [18]:
cv_results_rfc['train_score'].mean()

0.9042862056103255

In [19]:
cv_results_rfc['test_score'].mean()

0.7951692212109863

In [20]:
y_pred = cross_val_predict(rfc, X, Y, cv=10, n_jobs=-1)
accuracy_score(Y, y_pred)

0.7951685450042958

**SVM**

In [21]:
cv_results_svc = cross_validate(svc, X, Y, cv=10, return_train_score=True, n_jobs=-1)
cv_results_svc

{'fit_time': array([56.88095593, 56.5358789 , 55.73003602, 57.2709136 , 56.67650247,
        56.76027989, 57.47636247, 57.06745768, 56.92084932, 56.50994802]),
 'score_time': array([1.5034914 , 1.45366502, 1.35637045, 1.46809721, 1.48957443,
        1.48454022, 1.45213985, 1.48305798, 1.47656322, 1.47855663]),
 'test_score': array([0.79939363, 0.79080344, 0.81202628, 0.79332996, 0.81758464,
        0.81101566, 0.79838302, 0.81294237, 0.80283114, 0.79777553]),
 'train_score': array([0.87432615, 0.87707772, 0.87342767, 0.87578616, 0.87387691,
        0.87404537, 0.87415768, 0.87394014, 0.87517547, 0.87298557])}

In [22]:
cv_results_svc['train_score'].mean()

0.8744798848765454

In [23]:
cv_results_svc['test_score'].mean()

0.8036085674097743

In [24]:
y_pred = cross_val_predict(svc, X, Y, cv=10)
accuracy_score(Y, y_pred)

0.8036084297771264

# Great Work!