In [1]:
import sqlite3

## Read Data From Database

In [2]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
connection.close()

print(rows)


for uid,name,city,age  in rows:
    print(f'user with id {uid} has name {name} lives in {city} and his age = {age}')

## Use Pandas to execute sql

In [3]:
import pandas as pd

connection = sqlite3.connect("weather.db")
df = pd.read_sql("SELECT * from users", connection)
connection.close()
df.head()

   id         name   city  age
0   3         eman   Giza   20
1  12  Eslam Ahmed  Cairo   20
2  15       hamada  Cairo   22
3  19       Medhat  Maadi   22

In [4]:
city_input = input('search for city: ')

connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM users WHERE city = ?", [city_input])
rows = cursor.fetchall()
connection.close()


for uid,name,city,age  in rows:
    print(f'user with id {uid} has name {name} lives in {city} and his age = {age}')

search for city: Cairo
user with id 12 has name Eslam Ahmed lives in Cairo and his age = 20
user with id 15 has name hamada lives in Cairo and his age = 22

## Insert Data into Database

In [5]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("INSERT INTO users (name,city,age) VALUES (?, ?, ?)", ['Medo', 'Giza', '35'])
connection.commit()
connection.close()
print(cursor.lastrowid)

20

In [6]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("INSERT INTO users (name,city,age) VALUES (?, ?, ?)", ['Adham', 'Giza', '35'])
connection.commit()
connection.close()
print(cursor.lastrowid)

21

In [7]:
name = input('Enter user name: ')
city = input('Enter user city: ')
age = input('Enter user age: ')

connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("INSERT INTO users (name,city,age) VALUES (?, ?, ?)", [name,city,age])
connection.commit()
connection.close()
print(cursor.lastrowid)

Enter user name: Menna
Enter user city: Cairo
Enter user age: 22
22

## Update Data in Database

In [8]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("UPDATE users SET name=?, age=? WHERE id=? ", ['Eslam Ahmed', 20, 12])
connection.commit()
connection.close()

## Delete Data in Database

In [9]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("DELETE FROM users WHERE age >= 30 ")
connection.commit()
connection.close()

## Good Job!