# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string 'hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

## Table of Contents

1. Creating Strings
2. Printing Strings
3. String Indexing
4. String Slicing
5. String Properties
6. String Methods and functions
7. Print Formatting

## 1) Creating Strings
To create a string in Python you need to use either single quotes or double quotes. For example:

In [1]:
# Single word
print('hello')

hello

In [2]:
name = 'ahmed'
name

'ahmed'

In [3]:
name = "ahmed"
name

'ahmed'

## 2) Printing a String

In [4]:
# Entire phrase 
print('This is also a string')

This is also a string

In [5]:
# We can also use double quote
print("String built with double quotes")

String built with double quotes

In [6]:
# Be careful with quotes!
print('I'm using single quotes, but this will create an error')

SyntaxError: invalid syntax (<ipython-input-6-c402a75d305e>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [7]:
print("Now I'm ready to use the single quotes inside a string!")

Now I'm ready to use the single quotes inside a string!

In [8]:
print("Now I'm ready to use the single "quotes" inside a string!")

SyntaxError: invalid syntax (<ipython-input-8-b09e7a46b34d>, line 1)

**Escaping**

In [9]:
print("Now I\'m ready to use the single \"quotes\" inside a string!")

Now I'm ready to use the single "quotes" inside a string!

In [10]:
print('Now I\'m ready to use the single \"quotes\" inside a string!')

Now I'm ready to use the single "quotes" inside a string!

In [11]:
print('Now I\'m ready to use the \\ single \"quotes\" inside a string!')

Now I'm ready to use the \ single "quotes" inside a string!

Now let's learn about printing strings!

We can use a print statement to print a string.

In [20]:
print('1- Hello World 1')
print('2- Hello World 2')
print('3- Use\nto print a \nnew line')
print('hello')
print('4- Use\\nto print a new line')
print('5- Hello World 5 ', end='')
print('6- Hello World 6')
print('7- Hello world 7')
print('---\n---')
print('See what I mean?')

1- Hello World 1
2- Hello World 2
3- Use
to print a
new line
hello
4- Use\nto print a new line
5- Hello World 5 6- Hello World 6
7- Hello world 7
---
---
See what I mean?

## 3) String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [21]:
s = 'Hello World'
s

'Hello World'

Let's start indexing!

In [22]:
# Show first element (in this case a letter)
s[0]

'H'

In [23]:
s[1]

'e'

In [24]:
s[2]

'l'

In [12]:
s[3]

'l'

In [25]:
s[4]

'o'

In [26]:
s[5]

' '

In [27]:
s[6]

'W'

In [28]:
s[9]

'l'

In [29]:
s[10]

'd'

In [30]:
s[11]

IndexError: string index out of range

ok let's reverse index

In [31]:
s

'Hello World'

In [32]:
s[-1]

'd'

In [33]:
s[-2]

'l'

In [34]:
s[-3]

'r'

## 4) String Slicing

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [35]:
s

'Hello World'

In [36]:
s[1:10]

'ello Worl'

In [37]:
s[1:11]

'ello World'

In [38]:
s[1:12]

'ello World'

In [39]:
s[1:1200]

'ello World'

In [40]:
s[1:]

'ello World'

In [41]:
s[3:]

'lo World'

In [42]:
# Note that there is no change to the original s
s

'Hello World'

In [43]:
# Grab everything UP TO the 3rd index
s[:4]

'Hell'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [44]:
#Everything
s[:]

'Hello World'

In [45]:
s

'Hello World'

We can also use negative indexing to go backwards.

In [46]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [47]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [48]:
s

'Hello World'

In [49]:
s[3:-2]

'lo Wor'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [50]:
s

'Hello World'

In [51]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [52]:
s[::2]

'HloWrd'

In [53]:
s[::3]

'HlWl'

In [54]:
s

'Hello World'

In [56]:
s

'Hello World'

In [57]:
s[2:9:2]

'loWr'

In [58]:
s[:7:2]

'HloW'

In [59]:
s

'Hello World'

In [60]:
s[3::3]

'lWl'

In [61]:
s[2:7:2]

'loW'

In [62]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [63]:
s

'Hello World'

In [64]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [65]:
s[::-2]

'drWolH'

In [66]:
s

'Hello World'

**note that in reverse step the to is reversed with from [to:from:-1]**

In [67]:
s

'Hello World'

In [68]:
s[1:9:1]

'ello Wor'

In [69]:
s[9:1:-1]

'lroW oll'

In [70]:
s[3::-1]

'lleH'

In [ ]:
s[7:2:-1]

**Work with Arabic**

In [71]:
arabic = "السلام عليكم"
arabic

'السلام عليكم'

In [72]:
arabic[:8]

'السلام ع'

In [73]:
arabic[2]

'س'

In [74]:
arabic[-1]

'م'

## 5) String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [75]:
s = 'Hello World'
s

'Hello World'

**Concatenating strings**

In [76]:
x = '10'
y = '20'
x + y

'1020'

In [77]:
x = 'Hello '
y = 'World'
x + y

'Hello World'

In [78]:
s

'Hello World'

In [79]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [80]:
s

'Hello World'

In [81]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [82]:
print(s)

Hello World concatenate me!

In [83]:
s += ', that good'

In [84]:
s

'Hello World concatenate me!, that good'

**Repeating strings**

In [85]:
letter = 'abc '

In [86]:
letter * 5

'abc abc abc abc abc '

In [87]:
letter

'abc '

In [88]:
letter = letter * 3
letter

'abc abc abc '

In [89]:
letter *= 5
letter

'abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc '

## 6) String methods and functions

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

you can check a lot of string methods from here: https://www.w3schools.com/python/python_ref_string.asp

Here are some examples of built-in methods in strings:

**str**

In [90]:
num1 = 10
num2 = 7
result = num1 + num2
print('num1 is: ' + str(num1) + ' and num2 is: ' + str(num2) + ' and result is: ' + str(result))

num1 is: 10 and num2 is: 7 and result is: 17

**len**

In [91]:
s = 'Hello World'
len(s)    # length

11

**upper**

In [92]:
# Upper Case a string
s.upper()

'HELLO WORLD'

In [93]:
s

'Hello World'

**lower**

In [94]:
# Lower case
b = 'I LOVE PYTHON'
b.lower()

'i love python'

**capitalize**

In [95]:
c = 'i love python'
c.capitalize()

'I love python'

**title**

In [96]:
c = 'i love python'
c.title()

'I Love Python'

**endswith**

In [98]:
c = 'i love python'
c.endswith('n')

True

In [100]:
c = 'Music.mp3'
c.endswith('mp3')

True

In [101]:
c.endswith('avi')

False

**startswith**

In [102]:
c

'Music.mp3'

In [103]:
c.startswith('i')

False

In [104]:
c.startswith('m')

False

In [105]:
c.startswith('Mu')

True

**strip**

In [107]:
c = '   \n  i love python   \n'
print(c)

  i love python

In [109]:
c.strip()

'i love python'

**split**

In [110]:
# Split a string by blank space (this is the default)
s = 'I Love Python Language'
s.split()

['I', 'Love', 'Python', 'Language']

In [111]:
s

'I Love Python Language'

In [114]:
m = 'Python-Is-Awesome'
m.split('-')

['Python', 'Is', 'Awesome']

In [115]:
m

'Python-Is-Awesome'

In [116]:
ip = '192.168.1.1'
ip.split('.')

['192', '168', '1', '1']

In [117]:
ip

'192.168.1.1'

In [120]:
emails = 'ahmed@gmail.com mohamed@yahoo.com eslam@aws.com'.split()
emails

['ahmed@gmail.com', 'mohamed@yahoo.com', 'eslam@aws.com']

In [122]:
emails[0].split('@')

['ahmed', 'gmail.com']

In [123]:
emails[0].split('@')[-1]

'gmail.com'

In [124]:
s

'I Love Python Language'

In [125]:
# Split by a specific element (doesn't include the element that was split on)
s.split('o')

['I L', 've Pyth', 'n Language']

In [126]:
s.split(' Love ')

['I', 'Python Language']

**join**

In [127]:
''.join(['I', 'Love', 'Python'])

'ILovePython'

In [128]:
' '.join(['I', 'Love', 'Python'])

'I Love Python'

In [129]:
'-'.join(['I', 'Love', 'Python'])

'I-Love-Python'

In [130]:
'.'.join(['192', '168', '1', '13'])

'192.168.1.13'

**sorted**

In [131]:
s = 'heloworld'
s

'heloworld'

In [132]:
sorted(s)

['d', 'e', 'h', 'l', 'l', 'o', 'o', 'r', 'w']

In [133]:
''.join(sorted(s))

'dehlloorw'

In [134]:
''.join(sorted(s, reverse=True))

'wroollhed'

## 7) Print Formatting

The easiest way to show this is through an example:

### Formatting with the `.format()` method
A better way to format objects into your strings for print statements is with the string `.format()` method. The syntax is:

    'String here {} then also {}'.format('something1','something2')
    
For example:

In [26]:
n = 10
print('This is a string with a ' + str(n))

This is a string with a 10

In [27]:
n = 10
print('This is a string with a {}'.format(n))

This is a string with a 10

**1. Inserted objects can be called by {} & format function with order:**

In [28]:
word = 'insert'
num = 10

print('This is a string with a word: {} and a num: {}'.format(word, num))

This is a string with a word: insert and a num: 10

**2. Inserted objects can be called by index position:**

In [29]:
print('The {2} {0} {1}'.format('fox','brown','quick'))

The quick fox brown

**3. Inserted objects can be assigned keywords:**

In [30]:
print('1st: {a}, 2nd: {b}, 3rd: {c}'.format(a=1,b='Two',c=12.3))

1st: 1, 2nd: Two, 3rd: 12.3

**4. Inserted objects can be reused, avoiding duplication:**

In [31]:
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.

### Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [32]:
x = int(input('enter ur first number: '))
y = int(input('enter ur second number: '))
sum_x_y = x + y

print(f'the 1st num is {x} and the 2nd num is {y}, the summ is {sum_x_y}')

enter ur first number: 10
enter ur second number: 20
the 1st num is 10 and the 2nd num is 20, the summ is 30

In [33]:
name = input('what is your name: ')
age = input('what is ur age: ')
gender = input('what is ur gender: ')

print(f'username is : {name}, age is: {age}, gender is {gender}')

what is your name: eslam
what is ur age: 20
what is ur gender: male
username is : eslam, age is: 20, gender is male

# Great Work!