# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

## Table of Contents
1. range
2. enumerate
3. zip
4. in operator

## 1) range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [1]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(range(20, 31))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [3]:
list(range(20, 31, 2))

[20, 22, 24, 26, 28, 30]

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory. We haven't talked about functions or generators yet, so just keep this in your notes for now, we will discuss this in much more detail in later on in your training!

In [4]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## 2) enumerate

enumerate is a very useful function to use with for loops.

In [8]:
list(enumerate([30, 40, 50, 60]))

[(0, 30), (1, 40), (2, 50), (3, 60)]

In [9]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [10]:
list(enumerate('abcde', 8))

[(8, 'a'), (9, 'b'), (10, 'c'), (11, 'd'), (12, 'e')]

In [12]:
for idx, letter in enumerate('abcde'):
    print(f'at index {idx} charchter is {letter}')

at index 0 charchter is a
at index 1 charchter is b
at index 2 charchter is c
at index 3 charchter is d
at index 4 charchter is e

In [13]:
for idx, num in enumerate([30, 40, 50, 60]):
    print(f'at index {idx} number is {num}')

at index 0 number is 30
at index 1 number is 40
at index 2 number is 50
at index 3 number is 60

## 3) zip

You can use the **zip()** function to quickly create a list of tuples by "zipping" up together two lists.

In [15]:
mylist1 = [10,20,30,40,50,60]
mylist2 = [100,200,300,400,500,600]

In [16]:
list(zip(mylist1,mylist2))

[(10, 100), (20, 200), (30, 300), (40, 400), (50, 500), (60, 600)]

To use the generator, we could just use a for loop

In [17]:
for num_1,num_2 in zip(mylist1,mylist2):
    print(num_1 + num_2)

110
220
330
440
550
660

In [18]:
x = [2, 7, 3, 5]
y = [10, 30, 40, 100]
list(zip(x, y))

[(2, 10), (7, 30), (3, 40), (5, 100)]

In [19]:
for n1, n2 in zip(x, y):
    print(n1 * n2)

20
210
120
500

we can zip more than 2 lists

In [21]:
mylist1 = [10,20,30,40,50,60]
mylist2 = ['a','b','c','d','e','f']
mylist3 = [10,20,30,40,50,60]
list(zip(mylist1, mylist2, mylist3))

[(10, 'a', 10),
 (20, 'b', 20),
 (30, 'c', 30),
 (40, 'd', 40),
 (50, 'e', 50),
 (60, 'f', 60)]

In [22]:
for v1,v2,v3 in zip(mylist1, mylist2, mylist3):
    print(f'v1: {v1}, v2: {v2}, v3: {v3}')

v1: 10, v2: a, v3: 10
v1: 20, v2: b, v3: 20
v1: 30, v2: c, v3: 30
v1: 40, v2: d, v3: 40
v1: 50, v2: e, v3: 50
v1: 60, v2: f, v3: 60

## 4) in operator

We've already seen the **in** keyword durng the for loop, but we can also use it to quickly check if an object is in a list

In [24]:
'x' in ['x','y','z']

True

In [25]:
'x' not in ['x','y','z']

False

In [26]:
'x' in 'charles xavier'

True

In [27]:
'x' not in 'charles xavier'

False

In [28]:
'x' in 'ahmed'

False

In [29]:
5 in [1,2,3]

False

In [30]:
5 in [1,2,3,5]

True

In [31]:
'name' in {'age': 20, 'name': 'eslam'}

True

In [35]:
'address' in {'age': 20, 'name': 'eslam'}

False

In [36]:
20 in {'age': 20, 'name': 'eslam'}.values()

True

In [33]:
5 in (1,2,3)

False

In [34]:
if 15 in range(10):
    print('yes')
else:
    print('no')

no

# Great Work!