# List Comprehensions

In [2]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**old way**

In [25]:
new_list = []

for i in range(11):
    new_list.append(i ** 2)
    
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**new way using List Comprehension**

In [24]:
new_list = [i ** 2 for i in range(11)]

new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [7]:
# Grab every letter in string
lst = [x for x in 'abcd']
lst

['a', 'b', 'c', 'd']

In [8]:
lst = [x*2 for x in 'abcd']
lst

['aa', 'bb', 'cc', 'dd']

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [9]:
lst = [(2*i)+i**2 for i in range(11)]
lst

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120]

## Example 3
Let's see how to add in <code>if</code> statements:

In [11]:
# Check for even numbers in a range
lst = [i ** 2 for i in range(11) if i % 2 == 0]
lst

[0, 4, 16, 36, 64, 100]

## Example 4
Let's see how to add in <code>if else</code> statements:

In [12]:
# Check for even numbers in a range
lst = [i ** 2 if i % 2 == 0 else i ** 3 for i in range(11)]
lst

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

## Example 5
Can also do more complicated arithmetic:

In [13]:
# Convert Celsius to Fahrenheit
celsius = [0, 10, 20.1, 34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 6
Can also use Dictionary Comprehensions:

In [14]:
names = ['ahmed', 'mohammed', 'eman']
ages = [22, 23, 24]

list(zip(names, ages))

[('ahmed', 22), ('mohammed', 23), ('eman', 24)]

In [11]:
users = {}

for name, age in zip(names, ages):
    users[name] = age
    
users

{'ahmed': 22, 'mohammed': 23, 'eman': 24}

In [15]:
my_dict = {name: age for name, age in zip(names, ages)}
my_dict

{'ahmed': 22, 'mohammed': 23, 'eman': 24}

reverse key and value

In [31]:
dict1 = {'ahmed': 22, 'mohammed': 23, 'eman': 24}
dict1

{'ahmed': 22, 'mohammed': 23, 'eman': 24}

In [32]:
list(dict1.items())

[('ahmed', 22), ('mohammed', 23), ('eman', 24)]

In [33]:
dict2 = {value: key for key,value in dict1.items()}
dict2

{22: 'ahmed', 23: 'mohammed', 24: 'eman'}

# Great Work!